.l-body {
    flex: 2;
    margin-right: 15px;
    justify-content: flex-start;
}

.card {
    width: 596px;
    height: 376px;
    margin-left: 0;
    
}


img {
    width: 15px;
}

h1 {
    margin-bottom: 10px;
}

.card-header {
    width: 618px;
    height: 100px;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-style: solid;
    border-width: 3px;
}

.card-body {
    width: 588px;
    height: 200px;
    border-color: gray;
    border-style: solid;
    border-width: 3px;
    border-top: 0;
    padding-top: 45px;
    padding-left: 30px;
}

.card-photo {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 45px;
    margin-left: 30px;
}

#photo-profile {
    width: 95px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 4px;
}


.discription {
    margin-top: 30px;
    margin-bottom: 20px;
}

#anchor-card {
    color: blue;
    text-decoration: underline;
}


.education {
    width: 618px;
    height: 300px;
    border-color: gray;
    border-style: solid;
    border-width: 3px;
    margin-left: 0;
}

#edu-title {
    background-color: #333;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    height: 45px;
}

